<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Write a Caption</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/stylesheets/caption.css">
</head>

<body>
    <nav class="navbar">

        <div class="search-bar">
            <form action="/<%= id %>/search" method="POST">
            <input type="text" name="user[bitsid]" id="search" placeholder="Search by BITS ID">
            </form>
        </div>    
        <div class="links" id="nav-links">
            <ul class="nav-links">
                <li><a href="/profile/<%= id %>">Profile</a></li>
                <li><a href="/<%= id %>/nominate">Nominate a Friend</a></li>
                <li><a href="/<%= id %>/notifications">Notifications</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    
        <div class="button_container" id="toggle" onclick="toggle()">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    
        </nav>
        <% if (typeof error!=="undefined") { %>
            <div class="error-msg"><%= error %></div>
        <% } %>
        
        <% if (typeof success!=="undefined") { %>
            <div class="success-msg"><%= success %></div>
        <% } %>
    <section class="landing">
        <h1><%= name %> has nominated you!</h1>
        <h2>Write a Caption for your Friend!</h2>
        <form class="card" action="/<%= id %>/<%= id2 %>/caption" method="POST">
            <label for="caption">Caption:</label>
            <% if (typeof oldcaption!=="undefined") { %>
            <input class="form-styling" type="text" value="<%= oldcaption %>" name="user[caption]">
            <% } else { %>
            <input class="form-styling" type="text" placeholder="Caption" name="user[caption]">    
            <% } %>
            <input type="submit" class="btn">
        </form>
    </section>

    <footer>
        <h3>Follow us on:</h3>
        <div class="icons">
            <a href="https://www.linkedin.com/company/arcbitspilani/?originalSubdomain=in"><img src="/assets/images/linkedin.png" id="linkedin"></a>
            <a href="https://www.facebook.com/arcbitspilani/"><img src="/assets/images/facebook.png" id="fb"></a>
            <a href="https://www.instagram.com/sarcbitspilani/"><img src="/assets/images/instagram.png" id="insta"></a>
        </div>
        <a href="/<%= id %>/developers"><button id="devs">Developers</button></a>
    </footer>
    
    <script src="/assets/scipts/app.js"></script>
</body>
</html>