<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/stylesheets/profile.css">
</head>

<body>
    <nav class="navbar">

    <div class="search-bar">
        <form action="/<%= user._id %>/search" method="POST">
        <input type="text" name="user[bitsid]" id="search" placeholder="Search by BITS ID">
        </form>
    </div>

    <div class="links" id="nav-links">
        <ul class="nav-links">
            <li><a href="/profile/<%= user._id %>/edit">Edit Profile</a></li>
            <li><a href="/<%= user._id %>/nominate">Nominate a Friend</a></li>
            <li><a href="/<%= user._id %>/notifications">Notifications</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>

    <div class="button_container" id="toggle" onclick="toggle()">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    </nav>
    <% if(typeof msg!=='undefined') { %>
        <div class="error-msg"><%=msg%></div>
    <% } %>
    <section class="landing">
        <% if(!user.bitsId) { %>
        <div class="mask" role="dialog" id="modal-mask"></div>
        <div class="modal" role="alert" id="modal-main">
            <span class="close" id="close-modal">X</span>
            <form class="modal-form" action="/addid/<%= user.id %>" method="POST">
                <label for="caption">Enter your BITS ID:</label>
                <input class="form-styling" type="text" placeholder="2017B4A80844P" name="user[bitsid]">
                <label for="caption" id="quote-label">Enter your yearbook quote:</label>
                <input class="form-styling" role="textbox" contenteditable="true" placeholder="Your quote" name="user[quote]"></span>
                <input type="submit" class="btn">
            </form>
        </div>
        <% } %>

        <div class="card" id="main-photo">
            <div class="profile-photo">
                <div class="photo" style="background-image: url(<%= user.imageUrl %>)"></div>
                <a href="/<%= user.id %>/upload"><button id="photo-upload">Upload Picture</button></a>        
            </div>
            <div class="profile">
                <p class="name"><b>Name: </b><%= user.name %></p>
                <p class="id"><b>Email: </b><%= user.email %></p>
                <% if(user.bitsId) { %> 
                    <p class="id"><b>BITS ID:</b> <%= user.bitsId %></p>
                <% } %>
                <% if(user.discipline) { %>
                <p class="dept"><b>Discipline: </b><%= user.discipline %> </p>
                <% } %>
                <% if(user.quote) { %>
                <p class="caption"><b>Yearbook Quote: </b><%= user.quote %></p>
                <% } %>
            </div>
        </div>
    </section>
    <section class="quotes-page">
        <h1>What others are saying!</h1>
        <% let captions = user.captions %>
        <% for(let i=0; i<captions.length; i++) { %>
        <div class="speech-bubble">
            <h2>"<%= captions[i].caption %>"</h2><h3>-<%= captions[i].name %></h3>
        </div>
        <% } %>
    </section>

    <footer>
        <h3>Follow us on:</h3>
        <div class="icons">
            <a href="https://www.linkedin.com/company/arcbitspilani/?originalSubdomain=in"><img src="/assets/images/linkedin.png" id="linkedin"></a>
            <a href="https://www.facebook.com/arcbitspilani/"><img src="/assets/images/facebook.png" id="fb"></a>
            <a href="https://www.instagram.com/sarcbitspilani/"><img src="/assets/images/instagram.png" id="insta"></a>
        </div>
        <a href="/<%= user.id %>/developers"><button id="devs">Developers</button></a>
    </footer>

    <script src="/assets/scipts/app.js"></script>
    <script src="/assets/scipts/new.js"></script>
</body>
</html>